/* .navbar{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) !important;
    margin-bottom: 3px;
} */

.sub-nav{
    padding-left: 10%;
}

.popular-search {
    display:none;
}

/* .container{
padding-left: 7%;
padding-right: 7%;
} */

/* #popular-search li{
    visibility: hidden;
} */
.title-epidemiology H5{
    margin-top: 85px;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 0.24px;
    text-align: left;
    color: #e42c1a;
}


.title-epidemiology h3{
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.29;
    color: #707070;
}

.title-epidemiology p{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #707070;
}

.filter-epidemiology {
    margin-top: -30px;
}

.filter-epidemiology button{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    color: #ffffff;
}

.filter-epidemiology button img{
    margin-right: 8px;
}

.filter-epidemiology label{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    color: #ef494b;
}

.filter-epidemiology .form-control-sm{
    height: 24px;
}

.filter-epidemiology .form-control{
    background-color: #f5f6f7;
}

/* breakpoint mobile responsive */

.filter-epidemiology .justify-content-end{
    justify-content: flex-start !important;
    z-index: 0;
}

.title-epidemiology p{
    margin-bottom: 40px;
}

.title-epidemiology p{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #353d5f;
}

.filter-epidemiology button{
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.filter-epidemiology label{
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ef494b;
}

.new-entry .card-title{
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #111c4a;
}

.new-entry .autor ,.new-entry .date{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #434343;
}

.new-entry p{
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #2c2b2b;
}

.new-entry ul li{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #353d5f;
}

.pagination{
    display: none;
}