
body{
    font-family: 'Source Sans Pro';  
}

/* LANDING */
.jumbotron{
    background-image: url(/img/jumbotron.png);
    height: 653px;
}

.landing .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.landing .media-body h5{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    text-align: left;
    color: #e42c1a !important;
}

.landing .media-body h1{
    font-family: 'Source Sans Pro';
    font-size: 64px;
    font-weight: 300;
    line-height: 1.44;
    text-align: left;
    color: #ffffff !important;
} 

.landing .media-body h6{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    text-align: right;
    color: #ffffff !important ;
}

.landing .landing-title{
    font-family: 'Source Sans Pro';
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #ffffff !important;
}

.landing .title{
    margin-top: 84px;
}

.landing .media h1 {
    margin-bottom: 0;
}

.landing .media h5 {
    margin-bottom: 0;
}


.landing input{
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 1.38;
    color: #7b7b7b !important;
}

.landing .read-more h6{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    color: #e42c1a !important;
}

.landing .read-more h6 span{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: normal;
    line-height: 1.3;
    color: #e42c1a !important;
}
/* END LANDING */

/* NEW ENTRY */
.new-entry h3{
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.46;
    text-align: left;
    color: #000000 !important;
}

.new-entry button{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    line-height: 1.6;
    text-align: left;
    color: #ffffff !important;
}

.new-entry .card-title{
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    color: #707070 !important;
}

.new-entry .autor ,.new-entry .date{
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: 300;
    line-height: 1.42;
    text-align: left;
    color: #707070 !important;
}

.new-entry p{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #707070 !important;
}

.new-entry .list-inline{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    color: #707070 !important;
}

.new-entry .card-body{
    padding: 0;

}

.new-entry .card{
    border: 0;
}

.new-entry .card-footer{
    background-color: white;
    border: 0;
    padding-left: 0;
}

/* END NEW ENTRY */

/* PAGINATIO */
.pagination .page-link{
    border: 0;
    font-size: 12px;
    line-height: 1.42;
    color: #707070 !important;
}
/* END PAGINATIO */

/* FOOTER */

/* END FOOTER */