.navbar{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) !important;
    margin-bottom: 3px;
}

.sub-nav{
    padding-left: 35%;
}

.popular-search {
    display:none;
}

.container{
padding-left: 7%;
padding-right: 7%;
}

/* #popular-search li{
    visibility: hidden;
} */

.title-searchResult h2{
    margin-top: -40px;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.46;
    color: #000000;
    margin-bottom: 0;
}

.title-searchResult h3{
    margin-top: 95px;
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.29;
    color: #707070;
}



.filter-epidemiology {
    margin-top: -30px;
}

.filter-epidemiology button{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    color: #ffffff;
}

.filter-epidemiology button img{
    margin-right: 8px;
}

.filter-epidemiology label{
    font-family: 'Source Sans Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 1.3;
    color: #7b7b7b;
}

.filter-epidemiology .form-control-sm{
    height: 24px;
}

